.wrap {
    width: 100%;
    /* height: 5000px; */
}

.header {
    width: 1200px;
    /* height: 118px; */
    margin: auto;
    background: pink;
}

.header-logo {
    float: left;
}

.header-right {
    float: right;
}

.title {
    overflow: hidden;
}

.header-logo img {
    height: 118px;
}

.header-right .headerTxt {
    float: right;
    margin-top: 18px;
}

.headerTxt a {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    color: #343434;
}

.headerInput {
    position: relative;
}

.headerInput em {
    position: absolute;
    top: 4px;
    left: 134px;
    cursor: pointer;
}

.header-right .headerInput {
    float: right;
    margin-top: 17px;
}

.headerInput ::placeholder {
    font-size: 14px;
    opacity: .5;
    padding-left: 6px;
}

.header-right .headerInput input {
    border-radius: 6px;
    border: 1px solid #333333;
    margin-right: 37px;
}

.header-right .nav-list {
    float: right;
}

.nav-list {
    line-height: 76px;
}

.nav-list li {
    /* border: 3px solid #000; */
    float: left;
    margin-left: 58px;
}

.nav-list a {
    font-size: 18px;
    color: #333333;
    line-height: 18px;
    padding-bottom: 8px;
}

.nav-list li:hover a {
    border-bottom: 2px solid #850913;
}


/* profile */

.profile {
    width: 1200px;
    height: 708px;
    margin: auto;
    /* background: pink; */
    overflow: hidden;
}

.profile .round {
    border: 1px solid #850913;
    /* z-index: -1; */
    width: 1126px;
    height: 464px;
    margin-top: 144px;
    /* position: relative; */
}

.round {
    position: relative;
}

.round .company {
    width: 216px;
    height: 54px;
    border: 1px solid #850913;
    position: absolute;
    top: -28px;
    right: 106px;
    text-align: center;
    background: #ffffff;
}

.company h3 {
    position: absolute;
    font-size: 22px;
    line-height: 22px;
    color: #333333;
    top: -14px;
    right: 60px;
    background: #ffffff;
}

.company p {
    position: absolute;
    font-size: 16px;
    bottom: 16px;
    right: 28px;
}

.content {
    position: absolute;
    width: 682px;
    height: 420px;
    background: #999999;
    top: 60px;
    right: -70px;
}

.txt-left {
    float: left;
    /* border: 1px solid #000; */
    width: 210px;
    padding-left: 114px;
    margin-top: 34px;
    margin-bottom: 40px;
}

.txt-left h4 {
    float: left;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    margin-right: 14px;
}

.txt-left span {
    font-size: 11px;
    line-height: 11px;
    color: #ffffff;
    font-weight: 600;
}

.txt-right {
    position: relative;
    float: right;
    font-size: 11px;
    color: #ffffff;
    margin: 39px 16px 14px 0;
}

.content dd {
    position: relative;
    float: left;
    margin-left: 14px;
    margin-right: 15px;
    text-align: justify;
}

.txt-left em {
    position: absolute;
    background: url(../images/line.jpg) no-repeat;
    width: 568px;
    height: 8px;
    top: 64px;
    right: 0;
}

.content dd p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    line-height: 20px;
    padding-left: 100px;
}

.content dd p:first-child {
    margin-bottom: 26px;
}

.content-img {
    position: absolute;
    top: -34px;
    left: 50px;
}

.base {
    width: 1200px;
    height: 830px;
    margin: auto;
    /* background: pink; */
    overflow: hidden;
}

.base-title {
    position: relative;
    margin-bottom: 58px;
}

.base .base-title {
    text-align: center;
    margin-top: 74px;
}

.base-title h3 {
    font-size: 22px;
    line-height: 22px;
    color: #343434;
}

.base-title span {
    font-size: 14px;
    color: #343434;
}

.base-title i {
    position: absolute;
    width: 119px;
    height: 1px;
    background: url(../images/base-line.jpg) no-repeat;
    top: 32px;
    left: 50%;
    margin-left: -58px;
}

.base .base-imgs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    overflow: hidden;
}

.base .base-imgs .img-2 dt,
.base .base-imgs .img-4 dt {
    margin-bottom: 33px;
}

.base .base-imgs .img-2 dd h4,
.base .base-imgs .img-4 dd h4 {
    font-size: 16px;
    color: #353432;
    text-align: center;
    margin-bottom: 18px;
}

.img-2 dd p,
.img-4 dd p {
    color: #72716f;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}

.img-3 dd h4 {
    margin-top: 14px;
    font-size: 17px;
    color: #323232;
    text-align: center;
    margin-bottom: 21px;
}

.img-3 dd p {
    color: #72716f;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}

.img-3 dd p:last-child {
    margin-bottom: 10px;
}

.base-footer {
    width: 151px;
    height: 38px;
    background: #a20a09;
    margin: auto;
    text-align: center;
}

.base-footer a {
    font-size: 11px;
    color: #f8f2f2;
    line-height: 38px;
}

.guest {
    width: 1200px;
    height: 696px;
    /* background: pink; */
    margin: auto;
    overflow: hidden;
    position: relative;
}

.guest .guest-title {
    margin-top: 124px;
    text-align: center;
    margin-bottom: 40px;
}

.guest-title h4 {
    font-size: 24px;
    line-height: 24px;
    color: #343434;
}

.guest-title span {
    font-size: 16px;
}

.guest-title i {
    position: absolute;
    width: 119px;
    height: 1px;
    background: url(../images/base-line.jpg) no-repeat;
    top: 158px;
    left: 50%;
    margin-left: -42px;
}

.guest .guest-content {
    position: relative;
    width: 1189px;
    height: 376px;
    background: #a20a09;
    margin: auto;
}

.guest-img {
    position: absolute;
    top: 34px;
    left: 38px;
}

.guest-content .guest-txt {
    margin-left: 494px;
}

.guest-txt {
    float: left;
    margin-top: 46px;
}

.guest-txt dt h4 {
    font-size: 14px;
    color: #ffffff;
}

.guest-txt dd p:first-child {
    text-align: justify;
    margin-top: 50px;
    font-size: 13px;
    color: #ffffff;
    line-height: 22px;
    margin-bottom: 40px;
}

.guest-txt dd p:last-child {
    font-size: 11px;
    color: #ffffff;
    text-align: justify;
}

.guest-txt-footer {
    width: 81px;
    height: 22px;
    background: #ecebe9;
    margin-top: 52px;
    text-align: center;
}

.guest-txt-footer a {
    font-size: 11px;
    color: #9f090b;
}

.choose {
    width: 100%;
}

.choose img {
    width: 100%;
}

.camera {
    width: 1200px;
    height: 652px;
    /* background: pink; */
    margin: auto;
    margin-top: 20px;
}

.main-1,
.main-2,
.main-3,
.main-4 {
    float: left;
}

.main-1 {
    margin-left: 7px;
    width: 292px;
    height: 546px;
}

.main-1 dd {
    overflow: hidden;
}

.main-1:hover dd {
    background: #a20a09;
}

.main-1:hover h4 {
    color: #ffffff;
}

.main-1:hover p:nth-of-type(1) {
    color: #ffffff;
}

.main-1:hover p:nth-of-type(2) {
    color: #ffffff;
}

.main-2:hover dd {
    background: #a20a09;
}

.main-2:hover h4 {
    color: #ffffff;
}

.main-2:hover p:nth-of-type(1) {
    color: #ffffff;
}

.main-2:hover p:nth-of-type(2) {
    color: #ffffff;
}

.main-3:hover dd {
    background: #a20a09;
}

.main-3:hover h4 {
    color: #ffffff;
}

.main-3:hover p:nth-of-type(1) {
    color: #ffffff;
}

.main-3:hover p:nth-of-type(2) {
    color: #ffffff;
}

.main-4:hover dd {
    background: #a20a09;
}

.main-4:hover h4 {
    color: #ffffff;
}

.main-4:hover p:nth-of-type(1) {
    color: #ffffff;
}

.main-4:hover p:nth-of-type(2) {
    color: #ffffff;
}

.main-1 dd h4 {
    margin-top: 16px;
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 7px;
}

.main-1 dd p:nth-of-type(1) {
    font-size: 11px;
    color: #666666;
}

.main-1 dd p:last-child {
    font-size: 13px;
    color: #9a9a9a;
    margin-top: 20px;
}

.main-2 {
    margin-left: 10px;
    width: 292px;
    height: 546px;
}

.main-2 dt img {
    overflow: hidden;
}

.main-2 dd h4 {
    padding-top: 14px;
    margin-left: 6px;
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 16px;
}

.main-2 dd p:nth-of-type(1) {
    font-size: 11px;
    color: #666666;
    margin-bottom: 16px;
    margin-left: 6px;
}

.main-2 dd p:nth-of-type(2) {
    font-size: 14px;
    color: #9a9a9a;
    padding-bottom: 14px;
}

.main-3 {
    margin-left: 10px;
    width: 292px;
    height: 546px;
}

.main-3 dt img {
    overflow: hidden;
}

.main-3 dd h4 {
    padding-top: 14px;
    margin-left: 6px;
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 16px;
}

.main-3 dd p:nth-of-type(1) {
    font-size: 11px;
    color: #666666;
    margin-bottom: 12px;
    margin-left: 6px;
}

.main-3 dd p:nth-of-type(2) {
    font-size: 14px;
    color: #9a9a9a;
}

.main-4 {
    margin-left: 10px;
    width: 286px;
    height: 546px;
}

.main-4 dt img {
    overflow: hidden;
}

.main-4 dd h4 {
    padding-top: 14px;
    margin-left: 6px;
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 16px;
}

.main-4 dd p:nth-of-type(1) {
    font-size: 11px;
    color: #666666;
    margin-bottom: 11px;
    margin-left: 6px;
}

.main-4 dd p:nth-of-type(2) {
    font-size: 14px;
    color: #9a9a9a;
}

.main-footer {
    clear: both;
    width: 151px;
    height: 38px;
    background: #a20a09;
    margin: auto;
    text-align: center;
}

.main-footer a {
    font-size: 11px;
    color: #f8f2f2;
    line-height: 38px;
}

#footer {
    width: 100%;
    height: 91px;
    background: #666666;
    text-align: center;
    line-height: 91px;
    font-size: 14px;
    color: #ffffff;
}